<div class="block-forgot">
  <div class="container-forgot">
    <div class="wrap-forgot">
      <div class="navigate-forgot">
        <button class="btn-back me-2" onClick="window.location='/'">
          <i class="fa-solid fa-angle-left"></i>
        </button>
      </div>
      <div class="content-forgot">
        <div class="form-title mb-4">QUÊN MẬT KHẨU</div>
        <form id="form-forgot">
          <div class="label mb-1">Email</div>
          <div class="wrap-input validate-input" data-validate="Email required">
            <input
              class="form-control input-square"
              id="email"
              type="text"
              placeholder="Nhập email"
            />
          </div>
          <div class="mt-4">
            <button class="btn btn-next" type="submit">Tiếp tục</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
