<div class="container">
    <div class="row pt-4 justify-content-between">
        <div class="col-4">
            <h2 class="text-primary">Phone cards</h2>
        </div>
    </div>
    <div class="row">
        <div class="card col m-3 p-0" id="viettel_10000" style="width: 18rem;">
            <div id="viettel_10000" class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Viettel 10000</h5>
                <p hidden>10000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="viettel_20000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Viettel 20000</h5>
                <p hidden>20000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="viettel_50000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Viettel 50000</h5>
                <p hidden>50000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="viettel_100000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Viettel 100000</h5>
                <p hidden>100000</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col m-3 p-0" id="mobifone_10000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Mobifone 10000</h5>
                <p hidden>10000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="mobifone_20000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Mobifone 20000</h5>
                <p hidden>20000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="mobifone_50000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Mobifone 50000</h5>
                <p hidden>50000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="mobifone_100000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Mobifone 100000</h5>
                <p hidden>100000</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col m-3 p-0" id="vinaphone_10000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Vinaphone 10000</h5>
                <p hidden>10000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="vinaphone_20000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Vinaphone 20000</h5>
                <p hidden>20000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="vinaphone_50000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Vinaphone 50000</h5>
                <p hidden>50000</p>
            </div>
        </div>
        <div class="card col m-3 p-0" id="vinaphone_100000" style="width: 18rem;">
            <div class="card-body d-flex justify-content-center">
                <h5 class="text text-dark font-weight-bold">Vinaphone 100000</h5>
                <p hidden>100000</p>
            </div>
        </div>
    </div>
</div>