<div class="container">
    <div class="row pt-4 justify-content-between">
        <div class="col-4">
            <h2 class="text-primary">Buy Card Details</h2>
        </div>
    </div>
    
    </table>
    <div class="row" style="border-style: outset;">
        <div>Loại thẻ: <%= data.nhacungcap %></div>
        <div>Mệnh giá thẻ: <%= data.menhgia %></div>
        <div>Số lượng: <%= data.soluong %></div>
        <div>Phí giao dịch: 0</div>
        <div>Tổng tiền: <%=data.money %> </div>
    </div>
    
</div>
