<div class="container d-flex justify-content-center">
    <div class="content p-5 m-3 bg-light border border-secondary rounded">
        <form id="form-transfer-OTP" method="post" enctype="multipart/form-data">
            <div class="form-group my-2">
                <label>Enter OTP:</label>
                <input type="text" class="form-control" id="OTP_number" placeholder="xxxxxx" name="OTP_number">
            </div>
            <button id="submit" class="btn btn-primary" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>