<div class="container">
  <div class="text-center">
    <div class="mb-3">
      <img src="/image/favicon.ico" class="rounded" alt="avatar" height="200px">
    </div>
    <div class="mb-3">
      <p class="h1">Lê Tuấn Anh</p>
    </div>
  </div>
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#personal">Thông tin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#deal">Lịch sử giao dịch</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane container active" id="personal">
      <div class="mb-3">
        <p class="h5">Username: 4413658825</p>
      </div>
      <div class="mb-3">
        <p class="h5">Birthday: 2022-04-23</p>
      </div>
      <div class="mb-3">
        <p class="h5">Email: tuananh0398547674@gmail.com</p>
      </div>
      <div class="mb-3">
        <p class="h5">Phone: 1234567899</p>
      </div>
      <div class="mb-3">
        <p class="h5">Status: chờ xác minh</p>
      </div>
      <div class="mb-3">
        <p class="h5">CMND: </p>
        <img src="/image/cmnd/a874a9215254423d4867c5904" height="200px">
        <img src="/image/cmnd/a874a9215254423d4867c5905" height="200px">
      </div>
    </div>
    <div class="tab-pane container" id="deal"></div>
  </div>
</div>